@model WalmartInventory.Models.Count

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Count</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
